.btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    border: none;
    margin: 0;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: orange;
    color: bisque;
    cursor: pointer; 

    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 1000ms;
}

.btn::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
}

.btn:hover, .btn:focus{
    background-color: chocolate;
}

