.btn{
    position: relative;
    display: inline-block;
    align-items: center;
    border: none;
    margin: 0;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: orange;
    color: bisque;
    cursor: pointer; 

    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 1000ms;
}

.btn::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: blueviolet;

    transition: transform 500ms linear 500ms;
    overflow: hidden;
}

.btn:hover::before{
    transform: translateY(-35px);
}

.btn:hover, .btn:focus{
    background-color: chocolate;
}

.btn::after{
    position: absolute;
    top: 50%;
    left: 30px;

    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;

    transform: translateY(-50%);

    transition: transform 500ms linear 500ms;
    overflow: hidden;
}

.btn:hover::after{
    transform: translateY(35px);
}

